<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-stacionamento</title>
  <link rel="stylesheet" href="registro.css" th:href="@{/css/registro.css}">
</head>
<body>
    <div class="container"></div>
        <div class="registration form">
            <header>CRIAR CONTA</header>
            <form method="post" action="/estacionamento">
				
				
    <input type="hidden" name="_method" value="get">
    <input type="hidden" name="id" th:value="${cliente?.id}">
            <label for="nome">Nome:</label>
            <input id="nome" name="nome">
            
            </br>
    
            <label for="dataNascimento">Data de Nascimento:</label>
            <input id="dataNascimento" name="dataNascimento">
            </br>
    
            <label for="email">Email:</label>
            <input id="email" name="email">
            </br>
    
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf">

            </br>
            <label for="senha">SENHA:</label>
            <input id="senha" name="senha">
            </br>
            <input type="submit" class="button" value="Registrar" onclick="exibirPopup()">
            </form>
            
            <script>
            function exibirPopup() {
                alert("Cadastro do cliente realizado com sucesso!");
                // Aqui você pode adicionar outras ações, como enviar o formulário para o servidor
            }
        </script>
            <div class="signup">
            <span class="signup">Ja possui uma conta?
          
            </span>
        	<a  th:href="@{/estacionamento}">Login</a>
            </div>
            
        </div>
</body>