<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Bem vindo ao estacionamento</h1>
<h2>Seja nosso parceiro, faça um rapido cadastro</h2>
    <br>
    <form  method="post" action="/estacionamento/dono" >
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>

        <label for="datadnascimento">Data de Nascimento:</label>
        <input type="text" id="datadenascimento" name="datadenascimento" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required>
        <br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <br>

        <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero">
        <br>

        <input type="submit" value="Cadastrar" onclick="exibirPopup()">
    </form>

    <script>
        function exibirPopup() {
            alert("Cadastro do cliente realizado com sucesso!");
            // Aqui você pode adicionar outras ações, como enviar o formulário para o servidor
        }
    </script>
</body>
</html>