<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Estacionamento </title>
</head>
<h1>Bem vindo ao sistema de Estacionamento</h1>
	<body>
			 <form action="/estacionamento/cliente" method="get">
        <input type="submit" value="Fazer cadastro">
    </form>

    <form id="parceiroForm" method="get">
        <input type="button" value="Ser parceiro" onclick="exibirAviso()">
    </form>
        
       <script>
        function exibirAviso(){
            alert("Ainda em desenvolvimento");
            // Aqui você pode adicionar outras ações, como enviar o formulário para o servidor
        }
    </script>
    
	</body>
</html>