<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-stacionamento</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>LOGIN</header>
      
     <form  method="POST" action="/estacionamento/Perfil">
		  <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="senha">Senha:</label>
        <input type="text"  id="senha" name="senha">
      
    <input type="submit" value="Entrar">
    

      </form>
      <div class="signup">
        <span class="signup">Não tem uma conta?
         <!--<label for="check">Criar conta</label><!-->
          <form action="/estacionamento/cliente" method="get">
        <input type="submit" value="Fazer Cadastro" >
        </form>
      </div>
      
       <div class="signup">
        <span class="signup">Venha trabalhar conosco
        <form action="/estacionamento/dono" method="get">
                <input type="submit" value="Ser Parceiro" >
        </form>
      </div>
    </div>
    
    
    </div>
  </div>
</body>
</html>

