<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Perfil</title>
</head>
<body>

   <h1 th:if="${nomeCliente != null}" th:text="'Bem-Vindo, ' + ${nomeCliente}"></h1>

  
  
     
  <form action="/estacionamento/vaga" method="get">
    <p>Caso já tenha um veículo cadastrado, escolha um estacionamento.</p>
    <input type="submit" value="Escolher estacionamento">
  </form>
  
  <p>Suas reservas: </p>
  
  <form action="/estacionamento/veiculo" method="get">
    <p>Caso não tenha um veículo cadastrado, cadastre um veículo.</p>
    <input type="submit" value="Cadastrar Veículo">
  </form>
 
 <ul>
    <li>Esss sao seus veiculos:</li>
	<li th:each="veiculo : ${veiculoCliente}"  th:text="${veiculo.modelo}"></li>
</ul>
</body>
</html>
