<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{template.html}"
 >
<head>
	<meta charset="ISO-8859-1">
	<title>Registro de atendimento</title>
	<link rel="stylesheet" href="registro_veiculo.css" th:href="@{/css/registro_veiculo.css}">
	<script>
	    function exibirPopup() {
	        alert("Cadastro do cliente realizado com sucesso!");
	    }
	</script>
</head>
<body>
	<h1></h1>
    <main class="container">
		<div class="input-field">
	<form th:action="@{/estacionamento/registro}" method="post">
 		<th:block th:if="${estacionamentoId != null}">
		 	<h1>REGISTRO DE ATENDIMENTO</h1>
	        <label for="nomeEstacionamento">Estacionamento:</label><br>
	        <p><span th:text="${estacionamentoNome}"></span></p>
			<label for="horario_funcionamento">Veiculo:</label><br> 
			 <select id="veiculo" name="veiculo" th:field="*{reserva.fk_veiculo}">
			    <option th:each="veiculo : ${veiculoCliente}"  th:value="${veiculo.id}" th:text="${veiculo.modelo}"></option>
			</select>
			<!--<p>Vagas Disponiveis</p> 
			<p> <span th:text="${estacionamentoVagas}"> </span> </p> -->
			
			 <br><input type="submit" class="button" value="Registrar">
    	</th:block>

	    <!-- <th:block th:if="${estacionamentoSelecionado == null}">
	        <p>Estacionamento não encontrado.</p>
	    </th:block> -->
	</form>
</div>
</main>
</body>
</html>