<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{template.html}"
 >
<head>
    <meta charset="UTF-8">
    <title>Lista de filmes</title>
</head>
<body>
	<div layout:fragment="conteudo">

<h1>Lista de Estacionamento</h1>

<table>
	<select>
    <option th:each="estacionamento : ${esta}" th:value="${estacionamento.nome}" th:text="${estacionamento.nome}"></option>
</select>
    <thead>
        <tr>
            <th>NOME</th>
            <th>Endereço</th>
            <th>vagas</th>
            <th>Valor da vaga</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="estacionamento : ${esta}">
            <td th:text="${estacionamento.nome}"></td>
            <td th:text="${estacionamento.endereco}"></td>
            <td th:text="${estacionamento.vagas}"></td>
            <td th:text="${estacionamento.valor_vaga}"></td>
            
        </tr>
    </tbody>
</table>



	</div>
</body>
</html>