<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Registro de Veículo</h1>
    <form action="/estacionamento/veiculo" method="POST">
        <label for="cor">Cor do Veículo:</label>
        <input type="text" id="cor" name="cor" required>
        <br><br>
        
        <label for="placa">Placa do Veículo:</label>
        <input type="text" id="placa" name="placa" required>
        <br><br>
        
        <label for="modelo">Modelo do Veículo:</label>
        <input type="text" id="modelo" name="modelo" required>
        <br><br>
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>