<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registro Veiculo</title>
<link rel="stylesheet" href="registro_veiculo.css"  th:href="@{/css/registro_veiculo.css}" >
</head>
<body>
    <main class="container">
        <h1>Registro de Veiculo</h1>
        
    <div class="input-field">
        <form action="/estacionamento/veiculo" method="POST">
            <label for="cor">Cor do Veiculo:</label>
            <input type="text" id="cor" name="cor" required>
            <br><br>
            
            <label for="placa">Placa do Veiculo:</label>
            <input type="text" id="placa" name="placa" required>
            <br><br>
            
            <label for="modelo">Modelo do Veiculo:</label>
            <input type="text" id="modelo" name="modelo" required>
            <br><br>
            
            <input type="submit" value="Enviar">
        </form>
        
      
</div>
</main>
</body>
</html>